.event-show-container {
  background: #f6f7f8;
  .event-show-head-wrapper {
    padding: 0 10%;
    background-color: white;
    border-bottom: 1px solid rgba(46,62,72,.12);
    @media(max-width: 800px) {
      display: flex;
      flex-direction: column;
    }
    .event-show-head {
      .page-head {
        display: flex;
        margin: 3% 2% 0;
        @media(max-width: 800px) {
          flex-direction: column;
        }
        #event-show-date-wrapper {
          margin-right: 15px;
          #event-show-date {
            padding: 8px;
            border: 1px solid rgba(46, 62, 72, 0.12);
            background-color: rgb(246, 247, 248);
            border-radius: 8px;
            text-align: center;
            width: 35px;
            #event-show-day {
              color: #f13a59;
              font-size: 20px;
              text-align: center;
              line-height: 1.1;
              font-weight: 500;
            }
            #event-show-month {
              color: rgba(46, 62, 72, 0.6);
              font-weight: 700;
              font-size: 12px;
              text-transform: uppercase;
              line-height: 13.2px;
            }
          }
        }
        .event-show-name {
          font-size: 32px;
          font-weight: 600;
          p {
            color: rgba(46,62,72,.6);
            font-size: 16px;
          }
        }
        .event-rsvp-wrapper {
          padding-left: 20px;
          width: 300px;
          .event-rsvp-btn {
            text-align: center;
            width: 100%;
            background-color: cadetblue;
            color: white;
            padding: 5px 10px;
            margin-top: 10px;
            border: 1px solid cadetblue;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .event-show-body-wrapper {
    padding: 50px 12%;
    margin: 24px 20px 0;
    display: flex;
    @media(max-width: 800px) {
      flex-direction: column;
    }
    h1 {
      font-size: 1.25rem;
      font-weight: 600;
      padding-bottom: 20px;
    }
    .event-show-details {
      width: 80%;
      @media(max-width: 800px) {
        margin: auto;
      }
      #event-show-attendees {
        margin-top: 10%;
        margin-bottom: 10%;
        .event-show-ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          .event-show-rsvp-list {
            margin-top: 5%;
            width: 125px;
            background-color: white;
            padding: 10px;
            border: 1px solid white;
            border-radius: 10px;
          }
        }
      }
    }
    .event-show-time-location {
      background-color: white;
      padding: 35px 30px;
      display: flex;
      flex-direction: column;
      width: 20%;
      min-width: 225px;
      max-height: 100px;
      border: 1px solid white;
      border-radius: 10px;
      margin-left: 10%;
      justify-content: space-evenly;
      #event-show-time {
        display: flex;
        justify-content: space-between;
      }
      #event-show-location {
        display: flex;
        justify-content: space-between;
        margin-top: 20%;
      }
      @media(max-width: 800px) {
        margin: auto;
      }
    }
  }
}


.general-link {
  color: cadetblue;
}
