// Place all the styles related to the api/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-show-container {
  padding: 50px;
  width: 70%;
  margin: auto;
  article {
    margin-top: 25px;
    width: 615px;
  }
}

.group-show-image-container {
  width: 100%;
  display: flex;
}

.group-show-image {
  width: 40%;
  height: 20%;
}

.group-info-container {
  padding: 50px;
  margin-left: 15px;
  margin-top: 5px;
}

.group-show-name {
  font-size: 40px;
}
