.group-form-main {
  margin: auto;
  width: 100%;

  font-size: 26px;
}

.group-form-header {
  margin: auto;
  text-align: center;
  color: white;
  h2 {
    margin: auto;
    position: absolute;
    top: 28%;
    left: 45%;
    @media (max-width: 500px) {
      left: 16%;
    }
  }
  p {
    margin: auto;
    position: absolute;
    top: 40%;
    left: 34%;
    @media (max-width: 500px) {
      left: 9%;
    }
  }
  img {
    object-fit: cover;
    height: 380px;
  }
}
.group-form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-weight: 500;
  top: 460px;
  left: 34%;
}

.group-form-name {
  background-color: #fafafa;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.12);
  box-shadow: none;
  box-sizing: border-box;
  margin: 0 0 4px;
  max-width: 100%;
  padding: 8px;
  width: 100%;
}
.group-form-location {
  background-color: #fafafa;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.12);
  box-shadow: none;
  box-sizing: border-box;
  margin: 0 0 4px;
  max-width: 100%;
  padding: 8px;
  width: 100%;
}
.group-form-description {
  background-color: #fafafa;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.12);
  box-shadow: none;
  box-sizing: border-box;
  margin: 0 0 4px;
  max-width: 100%;
  padding: 8px;
  width: 100%;
  height: 250px;
  font-size: 16px;
}

.group-form-image {
  padding: 10px;
  @media (max-width: 500px) {
    padding: 0;
  }
}

.group-form-btn {
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  border: 1px solid rgba(0,0,0,.12);
  stroke: transparent;
  color: #fff;
  background: #ed1c40;
  border-color: #ed1c40;
  padding: 0 16px;
  text-align: center;
  width: 215px;
  margin-top: 15px;
  :hover {

  }
}

.group-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid dimgray;
  padding: 38px;
  width: 500px;
  @media (max-width: 500px) {
    width: auto;
    margin: 25px 10px;
  }
  label {
    padding-bottom: 25px;
    input {
      font-size: 16px;
    }
  }
}
