// Place all the styles related to the api/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-show-main {
  background: #f6f7f8;
}
.group-show-container {
  padding: 50px;
  width: 70%;
  margin: auto;
  article {
    margin-top: 25px;
    width: 470px;
    h2 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 14px;
    }
  }
}

.group-show-image-container {
  width: 100%;
  display: flex;
}

.group-show-image {
  width: 40%;
  height: 20%;
}

.group-info-container {
  padding: 50px;
  margin-left: 15px;
  margin-top: 5px;
}

.group-show-name {
  font-size: 40px;
}

.group-show-button {
  background-color: crimson;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
  border: 1px solid crimson;
  border-radius: 5px;
  :hover {
    cursor: pointer;
    border-color: red;
  }
}

.group-show-section {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

.members-container {
  margin: 0 auto;
  text-align: center;
  h3{
    span{
      color: darkgray;
      font-size: 16px;
    }
  }
}

.event-list-container {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  padding: 15px;
}

.event-list-name {
  color: blue;
}
