/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: sans-serif;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: xx-large;
  color: crimson;
}

.video-container {
  height: 66vh;
}

.video {
  object-fit: unset;
  z-index: 20;
  display: flex;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100vw;
  height: 50vh
}

.video-text {
  z-index: 30;
  position: absolute;
  top: 19%;
  left: 34%;
  color: white;
  text-align: center;
}

.video-text h3{
  font-size: 56px;
  font-weight: 600;
  margin: 25px;
  margin-bottom: 5px;
}

.video-text p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 48px;
}

.video-signup-btn {
  background-color: crimson;
  padding-left: 95px;
  padding-right: 95px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  border: 1px solid crimson;
  border-radius: 10px;
}

.video-signup-btn:hover {
  background-color: darkred;
}
