.footer-container {
  color: #fff;
  background-color: #0f1721;
  margin-bottom: 0;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
  div {
    margin-top: 3%;
    a > i {
      font-size: 100px;
    }
  }
}
