.group-index-container {
  margin: 0 auto;
  width: 70%;
  height: 600px;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.group-container {
  height: 27%;
  width: 22%;
  padding: 10px;
  margin: 10px;
  background-color: red;
  font-size: 16px;
}

.group-name {

}

.group-description {

}

.group-location {

}
