.group-index-container {
  margin: 0 auto;
  width: 70%;
  height: 600px;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  :hover {
    color: crimson;
    cursor: pointer;
  }
}
.group-container {
  width: 325px;
  padding: 15px;
  margin: 10px;
  font-size: 20px;
  position: relative;
}

.group-image {
  object-fit: cover;
  height: 250px;

}

.group-container > .gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
  position: absolute;
  top: 15px;
  left: 15px;
  width: calc(100% - 30px);
  height: calc(50% - 30px);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.26);
  .group-name {
    padding-left: 10px;
  }
  .group-location {
    padding-left: 10px
  }
}
