.group-index-container {
  margin: 0 auto;
  width: 70%;
  height: 600px;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  :hover {
    color: crimson;
    cursor: pointer;
  }
}
.group-container {
  width: 325px;
  padding: 15px;
  margin: 10px;
  font-size: 16px;
  position: relative;

}

.group-name {
  position: absolute;
  left: 16px;
  top: 5px;
}

.group-description {

}

.group-location {
  position: absolute;
  top: 115px;
  left: 20px;
}
