.homepage-search-container {
  background-color: crimson;
  color: white;
  height: 200px;
  text-align: center;
  h1 {
    font-weight: 500px;
    font-size: 34px;
    padding-top: 70px;
  }
  .homepage-btn-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    li{

    }
    .homepage-btn {
      background-color: black;
      border: 1px solid rgba(0,0,0,.54);
      box-shadow: inset -1px 1px 2px 0 rgba(0,0,0,.54);
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 26px;
      padding-right: 26px;
    }
    .selected {
      background-color: dimgray;
      font-weight: 500px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 26px;
      padding-right: 26px;
    }
  }
}
