.homepage-search-container {
  background-color: rgb(246, 64, 96);
  color: white;
  height: 200px;
  text-align: center;
  h1 {
    font-weight: bold;
    font-size: 34px;
    padding-top: 20px;
    margin-bottom: 13px;
  }
  .homepage-count {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
  }
  .homepage-btn-wrapper {
    .homepage-btn-container {
      width: 524px;
      margin: 0 auto;
      background-color: #0f1721;
      display: flex;
      padding: 0.5%;
      justify-content: space-between;
      @media (max-width: 500px) {
        width: auto;
        justify-content: center;
        background: none;
      }
      .search-bar {
        color: black;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 26px;
        padding-right: 26px;
        width: 250px;
        @media (max-width: 500px) {
          width: auto;
          padding-left: 1%;
          padding-right: 1%;
        }
      }
      .homepage-btn-list-wrapper {
        .homepage-btn-list {
          display: flex;
          justify-content: center;
          padding-top: 10px;

          .homepage-btn {
            background-color: black;
            border: 1px solid dimgray;
            box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0.54);
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 26px;
            padding-right: 26px;
            @media (max-width: 500px) {
              padding-left: 10px;
              padding-right: 10px;
            }
          }
          .selected {
            background-color: dimgray;
            font-weight: 500px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 26px;
            padding-right: 26px;
            @media (max-width: 500px) {
              padding-left: 10px;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}
