.navbar {
  display: flex;
  flex-direction: row;
  padding: 16px 16px 8px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  padding: 4px 0 0 0;
  background-color: #fff;
  position: relative;
  margin: 0;
  @media(max-width: 500px) {

  }
  .logo {
    padding-left: 22px;
    padding-bottom: 7px;
  }
  .navbar-user-container {
    font-size: 14px;
    position: absolute;
    right: 20px;
    color: white;
    text-align: center;
    padding: 0px;
    vertical-align: -webkit-baseline-middle;
    display: flex;
    flex-direction: row;
    @media(max-width: 500px) {
      display: none;
      flex-direction: column;
    }
    .navbar-links {
      padding: 20px;
      color: dimgrey;
    }
    .create-btn {
      color: rgb(0, 162, 199);
      font-weight: bold;
    }
    .navbar-links:hover {
      color: cadetblue;
    }
    .logout-button {
      padding: 8px;
      margin-right: 15px;
      color: dimgrey;
    }
    .logout-button:hover {
      color: cadetblue;
    }
    .username {
      color: crimson;
    }
  }
}

.fa-bars {
  display: none;
  @media(max-width: 500px) {
    display: block;
    font-size: 40px;
    position: absolute;
    right: 5%;
    bottom: 20%;
    color: dimgray;
  }
}
.fa-bars:hover {
  color: cadetblue;
  cursor: pointer;
}

#user-image {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -22px;
}
