.video-container {
  width: 100%;
  background-image: url("https://secure.meetupstatic.com/s/img/0897556462966101636/guest_home/still_2.jpg");
  height: 66vh;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.video {
  position: absolute;
  z-index: 20;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%,-50%);
  object-fit: contain;
}

.video-text {
  z-index: 30;
  position: absolute;
  top: 19%;
  left: 34%;
  color: white;
  text-align: center;
}

.video-text h3{
  font-size: 56px;
  font-weight: 600;
  margin: 25px;
  margin-bottom: 5px;
}

.video-text p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 48px;
}

.video-signup-btn {
  background-color: crimson;
  padding-left: 95px;
  padding-right: 95px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  border: 1px solid crimson;
  border-radius: 10px;
}

.video-signup-btn:hover {
  background-color: darkred;
}
